@charset "shift_jis";

/* Edition Page  */

.boxend {
margin-bottom:30px;
}

.paraend {
margin-bottom:15px;
}

.popcontents {
background:#EFEFEF;
text-align:center;
}

.popmainArea {
padding-bottom:5px;
margin:0 auto;
width:922px;
background:#fff;
text-align:left;
background:url(/lineup/common/images/edition_bg_01.gif) repeat-y top left;
}


#contentsArea {
padding-bottom:0;
}

.editionWrap {
margin:0 2px;
}



.spec .popcontents #pagetitle p {
padding-top:0 !important;
}




/*   */

.editionWrap h1 {
float:left;
border-right:solid 1px #e0dedf;
margin-bottom:1px;
}
.editionWrap h2 {
float:left;
margin-bottom:1px;
}

.carmainLink {
padding:0;
}

.carmainLink p {
float:right;
margin-left:20px;
font-size:75%;
}
.carmainLink p span {
background-position:0 0.35em !important;
}
.carmainLink .carpageLink {
margin-top:6px !important;
}
.carmainLink .carpageLink .blankimg {
vertical-align:middle;
margin-top:0.1em;
}

.editionMainArea {
width:888px;
margin-left:15px;
}



/* --------------  */
.layout1_Block h3, .layout1_Block h4,
.layout2_Block h3, .layout2_Block h4,
.layout3_Block h3, .layout3_Block h4,
.layout4_Block h3, .layout4_Block h4 {
margin-bottom:20px;
}



.layout2_Block .leftBox {
width:436px;
}
.layout2_Block .rightBox {
width:436px;
}

/**/

.layout1_Block .imgheader,.layout2_Block .imgheader,.layout3_Block .imgheader,.layout4_Block .imgheader {
padding-top:0 !important;
font-weight:bold;
}

.layout3_Block .layout3Box {
width:285px;
}
.layout3_Block .boxright {
margin-right:0;
}
.layout3_Block div.double {
width:586px;
}
.layout3_Block .layout3_imgline {
width:888px;
}

/**/

.layout4_Block .pat1 div,
.layout4_Block .pat2 div,
.layout4_Block .pat3 div {
width:210px;
}

.layout4_Block .pat1 {
margin-bottom:25px;
}
.layout4_Block .pat2 .double {
width:436px;
}
.layout4_Block .pat2 .double div {
width:210px;
}

/**/

.layout5_Block .pat1 div {
width:165px;
}


/**/

.specLinkBox_Area {
margin-top:45px;
background-color:#f5f5f5;
border:solid 1px #e6e6e6;
padding:10px;
clear:both;
}

.specLinkBox_Area .leftBox {
float:left;
}
.specLinkBox_Area .rightBox {
float:none;
margin:0 0 0 177px;
padding-top:4px;
}

.specLinkBox_Area .rightBox p, .page_notesArea p {
line-height:1.5em;
font-size:70%;
}


/* --------------  */

#pop .mg_off {
margin:0;
padding:0;
}

#pop .bottommg_off,
#pop .layout3_Block .bottommg_off .layout3_left,
#pop .layout3_Block .bottommg_off .layout3_center,
#pop .layout3_Block .bottommg_off .layout3_right,
#pop .layout4_Block .bottommg_off div {
margin-bottom:0;
padding-bottom:0;
}

#pop .rightmg_off {
margin-right:0px !important;
}



/*  spec  */


.spec #pagetitle h1 {
padding-top:15px;
}
.spec h2.edition {
margin-bottom:20px;
}
.spec h3.spec,.spec h4.spec{
float:left;
margin-left:5px;
}