
body{ text-align: center; /* IE 向けセンタリング指定 */} 
.vrview{ margin: 0 auto; /* Firefox 向けセンタリング指定 */
		 width: 920px; height: 480px; cursor: pointer; } 

.vrview pre{ display: none; }
.vrview.on pre{ display: none; }
