<li><span>2016年10月21日</span><a href="http://www.mitsubishi-motors.co.jp/special/calendar/report/index.html#event01" target="_blank">『イベントレポート』10月分に「東京モーターフェス2016」を追加しました。</a></li>
<li><span>2016年10月07日</span><a href="http://www.mitsubishi-motors.co.jp/special/calendar/index.html#event02" target="_blank">『イベントカレンダー』10月分に「4WD登坂イベント」2件を追加しました。</a></li>
<li><span>2016年09月29日</span><a href="http://www.mitsubishi-motors.com/jp/events/motorshow/2016/pms2016/" target="_blank">2016年パリモーターショー スペシャルサイトを更新しました。</a></li>
<li><span>2016年08月16日</span><a href="http://www.mitsubishi-motors.com/jp/events/motorshow/2016/ims2016/" target="_blank">インドネシア国際オートショー2016 スペシャルサイトにフォトギャラリーを追加しました。</a></li>
<li><span>2016年08月01日</span><a href="http://www.mitsubishi-motors.com/jp/corporate/aboutus/facilities/phev_world/" target="_blank">PHEV_World スペシャルサイトを公開しました。</a></li>
