/* links */
a.dealer,a.english,a.list,a.list2,a.more,a.toTop,a.bc,a.search,a.priceSearch  {text-decoration:none;}
a.button:hover,a.dealer:hover,a.english:hover,a.list,a.list2:hover,a.listB:hover,a.priceSearch:hover,a.search:hover,a.toTop:hover
 {text-decoration:underline;}

a.english,a.english:hover  {font-family:Verdana; color:#ffffff;}
a.dealer,a.dealer:hover  { color:#6E6E6E; text-decoration:none; font-size:10px;}
a.listB,a.listB:hover   {color:#6E6E6E; font-size:12px; padding-top:5px; line-height:15px; font-weight:bold;}
a.list,a.list:visited   {font-size:12px; padding-top:5px; line-height:15px;}
a.list2,a.list2:visited  {font-size:10px; padding-top:10px; line-height:15px;}
a.list2  {font-size:10px; color:#6E6E6E;}
a.list2:visited  { font-size:10px; color:#6E6E6E;}
a.list2:hover  { font-size:10px; color:#EF0041;}
a.list3,a.list3:visited  {font-size:12px;}
a.list3  {color:#969696;}
a.list3:visited  { color:#969696;}
a.list3:hover  { color:#EF0041;}
a.list4,a.list2:visited  {font-size:11px; line-height:14px;}
a.list4  {color:#6E6E6E;}
a.list4:visited  { color:#6E6E6E;}
a.list4:hover  { color:#EF0041;}
a.list5,a.list5:visited  {font-size:12px;}
a.list5  {color:#6E6E6E;}
a.list5:visited  { color:#6E6E6E;}
a.list5:hover  { color:#EF0041;}
a.list6,a.list6:visited  {font-size:10px; padding-left:5px;display:block}
a.list6  {color:#6E6E6E;}
a.list6:visited  { color:#6E6E6E;}
a.list6:hover  { color:#EF0041;}
a.priceSearch,a.priceSearch:hover  {color:#6E6E6E; font-size:10px; padding-left:5px;}
a.search,a.search:hover  { color:#6E6E6E; font-size:12px;}
a.toTop  {color:#969696; font-size:11px;}
a.toTop:hover  {color:#EF0041; font-size:11px; line-height:12px;}
a.relatedlink  {font-size:11px; color:#969696;}
a.relatedlink:visited  {font-size:11px; color:#969696;}
a.relatedlink:hover  {font-size:11px; color:#EF0041;}

/* styles */
.body  { color:#151515; font-size:12px; padding-top:5px; line-height:1.5;}
.body2  { color:#151515; font-size:12px; line-height:1.5;}
/*.copyRight  { font-family:Verdana; color:#FFFFFF; font-size:58%;}*/
.caption  { color:#151515; font-size:11px; padding-top:5px; line-height:12px;}
.caption2  { color:#151515; font-size:11px; padding-top:5px; line-height:12px;}
.caption3  { color:#151515; font-size:11px; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px; line-height:12px;}
.caption4 { color:#AEAEAE; font-size: 11px; line-height:14px;}
.caption5 { color:#151515; font-size: 11px; line-height:14px;}
.leftContent  { color:#151515; font-size:11px; padding-left:3px; line-height:14px;}
.promo  { color:#6E6E6E; font-size:11px; line-height:15px;}
.tableText  { color: #000000; font-size:12px;}
.tableHeader  { color:#000000; font-size:12px; font-weight:bold;}
.starR  { font-size:14px; color: #ff0000;}
.starG  { font-size:14px; color: #00CC66;}
.blackPx12  {font-size:12px; color: #000000;}
.blackPx12B  {font-size:12px; font-weight:bold; color: #000000;}
.redPx12  {color: #ff0000; font-size:12px; font-weight:bold;}
.whitePx10  {font-size:12px; color: #ffffff;}
.whitePx12  {font-size:12px; color: #ffffff;}
.whitePx12B  {font-size:12px; font-weight:bold; color: #FFFFFF;}
.mdDkGreyPx11  {font-size:11px; color: #151515;}
.shortIndent  {padding-left:10px;}
.redText12  { color:#E68080; font-size:12px; line-height:16px;}

/* header styles */
h1.tempH1  { font-size:120%; font-weight:bold; margin: 0; color: #151515; line-height:20px;}
h2.tempH2  { font-size:75%; font-weight:bold; margin:5px 0 5px 0; color: #151515;}

/* paragraph styles */
p.nav  {text-indent:5px; margin:0px;}
p.toTop  {padding-right:15px;}	

/* table styles */
.dkGrey  { background-color:#999999;}
.grey  { background-color:#6E6E6E;}
.green  { background-color:#336666;}
.ltGrey  { background-color:#EFEFEF;}
.ltRed  { background-color:#CCCCCC;}	
.mdGrey  { background-color:#D0D0D0;}
.red  { background-color:#EF0041;}	
.white  { background-color:#ffffff;}

.specTable  {
}

.specTable td  {
	color: #000000;
	font-size:11px;
	line-height: 13px;
}

.specTable a  {
	color: #000000;
	font-size:11px;
	text-decoration:underline;
}

.specTable a:hover  {
    font-size:11px;
	color: #EF0041;
}
	
.specTable a:visited  {
    font-size:11px;
	color: #151515;
}
	
/* lists */
ul.relatedlink  {
	margin:0px;
	padding:0px;
}
li.relatedlink  {
	margin:0px;
	padding:0px;
	padding-top:3px;
	font-size:11px;
	list-style-type:none;
	line-height:13px;
		}

/* divs */	
#Search  {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 738px;
	text-align: right;
	visibility: hidden;
}

#SecondaryNavi  {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 768px;
	text-align: right;
}

#LangSwitch  {
	position: absolute;
	left: 0px;
	top: 52px;
	width: 768px;
	text-align: right;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#homeCI  {
	position: absolute;
	left: 5px;
	top: 14px;
}

#breadCrumb  {padding-left:170px; padding-top:2px; padding-bottom:2px; font-size:11px; color:#ffffff; z-index:1;}
#breadCrumb_frame  {padding-left:10px; padding-top:2px; padding-bottom:2px; font-size:11px; color:#ffffff; z-index:1;}
#bottomNav  {position:relative; left:15; top:0; font-size:12px; color:#000000;}

#clearTop  {POSITION:absolute; VISIBILITY:visible; TOP:50px; left:0px; z-index:3; width:770px; height:3px;}
#clearBottom  {POSITION:absolute; VISIBILITY:visible; TOP:250px; left:0px; z-index:3; width:770px; height:1px;}
#clearLeft  {POSITION:absolute; VISIBILITY:visible; TOP:80px; left:0px; z-index:3; width:135px; height:35px;}


#divider  {position:absolute; top:327px; left:387px; z-index:0;}

#imageTitle  {POSITION:relative; VISIBILITY:visible; LEFT:170px; z-index:0;}	

.indent  {padding-left:15px;}
.indentList  {padding-top:5px;}

#homeImage  {POSITION:absolute; VISIBILITY:visible; TOP:85px; left:0px; z-index:1; }
#homeFooter  {POSITION:absolute; VISIBILITY:visible; TOP:480px; left:15px; z-index:1; }

#hScr1  {POSITION:absolute; VISIBILITY:visible; TOP:305px; left:192px; cursor:hand; z-index:1}
#hC2  {POSITION:absolute; VISIBILITY:visible; TOP:305px; left:267px; z-index:2;}
#hScr2  {POSITION:absolute; VISIBILITY:visible; TOP:0px; left:122px; cursor:hand;}
#hC3  {POSITION:absolute; VISIBILITY:visible; TOP:305px; left:578px; z-index:6;}
#hStatic  {POSITION:absolute; VISIBILITY:visible; TOP:355px; left:0px; z-index:0;}


