
.marginTopoff {
margin-top:0 !important;
}


.newpos {
position:absolute;
top:4px;
left:4px;
}


div#contents h1 {
float:left;
margin:0;
padding-left:16px;
}

.carBox {
position:relative;
top:0;
left:0;
zoom:1;
}

div#contents .carBox p {
margin-bottom:5px;
text-align:center;
line-height:1.2;
}

div#contents .carBox p.carimg {
margin-bottom:2px;
padding-top:10px;
}

select {
font-size:90%;
width:140px;
margin-top:5px;
}

.conditionBlock {
visibility:hidden;
position:absolute;
width:171px;
padding-bottom:30px;
border-top:solid 1px #e6e6e6;
z-index:15;
}

.conditionBlock .inner {
margin-left:11px;
padding:0 0 16px 0;
background:url(../index_images/index_pt_01.gif) no-repeat bottom left;
}
.conditionBlock .inner div {
position:relative;
}

#heartyConditionBlock .inner {
padding:0 0 25px 0;
background:none;
}

.conditionBlock .noline {
background:none;
}

.conditionBlock h3 {
margin:16px 0 0 0 !important;
}

#carlineupBlock,
#bizcarBlock,
#heartyBlock,
#accessoryBlock {
display:none;
overflow:hidden;
}
#carlineupcarList,
#bizcarcarList,
#heartycarList {
float:right;
background:#fff url(/lineup/common/images/ajax-loader.gif) no-repeat center center;
}


#carlineuploadArea,
#bizcarloadArea,
#heartyloadArea {
width:749px;
height:200px;
}

div > #carlineuploadArea,
div > #bizcarloadArea,
div > #heartyloadArea {
height:auto;
min-height:200px;
}



#general #carlineupcarList h2,
#general #bizcarcarList h2,
#general #heartycarList h2 {
clear:both;
margin:0;
padding:0;
border:none;
}

#carlineupcarList div.carBox,
#bizcarcarList div.carBox,
#heartycarList div.carBox {
position:relative;
float:left;
width:122px;
margin-right:1px;
border:solid 1px #fff;
zoom:1;
}

#carlineupcarList div.right,
#bizcarcarList div.right,
#heartycarList div.right {
margin-right:0;
}

#carlineupoptionBox h3,
#bizcaroptionBox h3,
#heartyoptionBox h3 {
margin:16px 0 5px 0 !important;
}
div#contents #carlineupoptionBox p,
div#contents #bizcaroptionBox p,
div#contents #heartyoptionBox p {
line-height:1.2;
}
#carlineupoptionBox input,
#bizcaroptionBox input,
#heartyoptionBox input {
margin-top:5px;
margin-left:0;
margin-right:2px;
}

.resetbt {
margin-left:16px;
}

.carline {
background:url(../index_images/index_bg_02.gif) no-repeat center left;
border-bottom:none;
}
.carline2 {
background:url(../index_images/index_bg_04.gif) no-repeat center left;
border-bottom:none;
}
.carline3 {
background:url(../index_images/index_bg_07.gif) repeat-x left center;
border-bottom:none;
}

.clborder{
border-bottom:solid 1px #e6e6e6;
}

div#contents .carline p {
font-size:75%;
}
div#contents .carline p a {
text-decoration:none;
}
div#contents .carline p a:hover {
color:#151515;
text-decoration:none;
}


.alpha0 {
filter:alpha(opacity=0);
-moz-opacity:0.0;
opacity:0.0;
}
.imgoff {
filter:alpha(opacity=30);
-moz-opacity:0.30;
opacity:0.3;
color:#777;
}
.imgon {
display:block;
filter:alpha(opacity=100) !important;
-moz-opacity:1 !important;
opacity:1 !important;
}


.boxovero {
border:solid 1px #ef0041 !important;
}

.boxoverf {
border:solid 1px #fff !important;
}


.boxoverod {
border:solid 1px #ef0041 !important;
cursor:hand;
cursor:pointer;
}

#tipbase {
display:none;
}

.tooltip {
position:absolute;
top:0;
left:120px;
width:200px;
background:url(../index_images/tooltip_bg_07.gif) repeat-x left bottom;
z-index:500;

}
.tooltip .tinner {
clear:left;
padding:2px 10px 3px 10px;
background:#fff;
border-right:solid 1px #000;
zoom:1;
}
.tooltip .inner2 {
background:#fff;
}

.tooltip .imgbt {
float:left;
}
.tooltip .imgbt2 {
float:right;
}
#innerTxt {
zoom:1;
margin:0;
padding:0;
}

.tabBlock {
float:right;
width:574px;
}
.tabBlock li {
margin-right:2px;
}


/* lineup */

#carlineupBlock,
#bizcarBlock,
#heartyBlock,
#accessoryBlock {
padding-bottom:32px;
background:#fff url(../index_images/index_bg_01.gif) repeat-x left bottom;
}
.insearch {
position:relative;
background:#fff url(../index_images/index_bg_05.gif) repeat-y left top;
}

.bnarea {
background:url(../index_images/index_bg_03.gif) no-repeat center left;
}
.bnarea p {
float:left;
margin-right:1px;
}
.bnarea p a {
display:block;
border:solid 1px #fff;
}
.bnarea p a:hover {
display:block;
border:solid 1px #ef0041;
}


.bnarea p.right {
margin-right:0;
background:none;
}

/* mainArea */

.mainArea {
clear:both;
margin-left:16px;
}
div#contents .mainArea  h2 {
margin:0;
padding:0;
border:none;
}
div#contents .mainArea h3 {
margin-top:20px;
}

.newsBlock {
float:left;
margin-right:16px;
width:662px;
}
.newsBlock .borderBox {
margin-top:1px;
}

.newsBlock .linkStd {
overflow:scroll;
overflow-x:auto;
overflow-y:scroll;
height:10em;
margin:0 0 0 15px !important;
}
.newsBlock .linkStd .inner {
padding:5px 0;
}

.newsBlock .linkStd p {
padding-bottom:5px;
}

.subBlock .linkStd {
margin-top:3px !important;
}
.subBlock {
float:left;
width:210px;
}
.subBox {
padding-left:8px;
}

.subBox p {
margin-top:7px;
padding-bottom:10px;
background:url(../index_images/index_pt_02.gif) no-repeat bottom left;
}

.subBox ul li {
list-style-type:none;
padding-bottom:3px;
background:url(../index_images/index_pt_02.gif) no-repeat bottom left;
}
.subBox ul li img {
vertical-align:top;
}

.subBox .bnlink {
margin:7px 0 0 0;
padding-bottom:10px;
background:url(../index_images/index_pt_02.gif) no-repeat bottom left;
}
.subBox .lineoff {
margin:7px 0 0 0;
padding-bottom:0px;
background:none;
}

.subBox dt {
float:left;
width:40px;
height:40px;
line-height:0;
font-size:1px;
}
.subBox dd {
width:145px;
margin-left:48px;
}

.subBox .limited {
width:195px;
padding-bottom:10px;
background:#eee;
}
.subBox .limited .bnlink {
margin:0 0 0 0;
padding-top:7px;
}
.subBox .limited dl {
padding-left:10px;
}
.subBox .limited dt {
float:left;
margin-top:10px;
width:61px;
height:21px;
line-height:0;
font-size:1px;
}
.subBox .limited dd {
width:auto;
margin-left:74px;
line-height:1.3;
}


/* accessory */
#accessoryBlock .acceBox {
float:left;
width:228px;
border:solid 1px #fff;
background:url(../index_images/index_bg_06.gif) no-repeat center right;
}
#accessoryBlock .right {
width:228px;
border:solid 1px #fff;
background:none;
}
#accessoryBlock .acceBox div {
margin-left:16px;
margin-bottom:16px;
width:197px;
}
div#contents #accessoryBlock h2 {
margin:0;
padding:0;
border:none;

}
div#contents #accessoryBlock div h3 {
margin-top:13px;
padding:0 0 5px 0;
background:url(../index_images/index_pt_02.gif) no-repeat bottom left;
}
#accessoryBlock div p {
margin-top:7px;
}
#accessoryBlock div p img {
float:left;
margin-right:10px;
width:58px;
}
#accessoryBlock div p span {
float:left;
width:129px;
}

/*  */
.noscriptBlock {
padding:40px 20px;
}

/**/
.heartyHeadBtn {
height:50px;
background:url(../index_images/hearty_bg_01.gif) repeat-x top left;
}
.heartyHeadBtn p {
padding:5px 0 0 5px;
}

.bizlimitedArea p,
.heartylimitedArea p {
float:left;
margin-right:1px;
}
.bizlimitedArea p a,
.heartylimitedArea p a {
display:block;
width:247px;
border:solid 1px #fff;
}
.bizlimitedArea .bnarea p a{
width:184px;
}
.bizlimitedArea .bnarea p.cnt{
margin-right:2px;
}



.bizlimitedArea p a:hover,
.heartylimitedArea p a:hover {
border:solid 1px #ef0031;
}
.heartylimitedArea p a {
width:184px;
}


