
<div id="mesheader">
<p id="titleimg"><img src="/lineup/common/images/interview_tx_01.gif" alt="開発者インタビュー" width="180" height="47"><img src="/i-miev/interview/images/index_tx_01.gif" alt="開発者のi-MiEVに対する想いを紹介します。" width="235" height="47"></p>
</div>


<p><img src="/lineup/common/images/mes_bg_01.gif" alt="" width="800" height="3"></p>

<div id="voiceArea" class="interview">


<h3 class="txtCenter"><img src="/i-miev/interview/images/index_h3_01.gif" alt="EVのすべて" width="768" height="17"></h3>

<div class="voiceBlock">

<div class="clearfix">
<div class="voiceBox">
<div class="voiceLead">
<p>EVに関する基礎知識から開発者インタビューによる専門的な話題まで、様々な内容をお届けします。</p>
<div class="linkStd">
<p><span><a href="http://www.ev-life.com/our_ev/history.html" target="_blank">EVポータル「EVのすべて」</a><img src="/share/images/cmn_im_05.gif" alt="" title="別ウィンドウ表示" class="blankimg" height="12" width="18"></span></p>
</div>
<!-- /voiceLead --></div>
<div class="voiceImg">
<p><a href="http://www.ev-life.com/?c=allofevCard" class="imglink movie" target="_blank"><img src="/i-miev/interview/images/index_im_01.jpg" alt="" width="108" height="78" /></a></p>
<!-- /voiceImg --></div>
<!-- /voiceBox --></div>

<!-- /clearfix --></div>

<!-- /voiceBlock --></div>




</div>

<iframe src="common/log/interview.html" style="display:none;"></iframe>
