<div class="sidemenu_box">
<div class="sidemenu_logo">
  <img src="/component/images/mainmenu_side_logo.gif" alt="" />
</div>
<ul class="sidemenu_menu">
  <li class="toplink"><a href="#"><img src="/component/images/mainmenu_side_menu01.png" alt="トップ" /></a></li>
  <li><a href="#"><img src="/component/images/mainmenu_side_menu02.png" alt="トップ" /></a></li>
  <li><a href="#"><img src="/component/images/mainmenu_side_menu03.png" alt="カーラインアップ" /></a></li>
  <li><a href="#"><img src="/component/images/mainmenu_side_menu04.png" alt="トップ" /></a></li>
  <li><a href="#"><img src="/component/images/mainmenu_side_menu05.png" alt="トップ" /></a></li>
  <li><a href="#"><img src="/component/images/mainmenu_side_menu06.png" alt="トップ" /></a></li>
  <li><a href="#"><img src="/component/images/mainmenu_side_menu07.png" alt="トップ" /></a></li>
</ul>
<div class="sidemenu_function">
<ul class="font_menu">
<li class="font_m"><img src="/component/images/mainmenu_side_textM.png" alt="" /></li>
<li class="font_l"><img src="/component/images/mainmenu_side_textL.png" alt="" /></li>
</ul>
<div class="print_menu"></div>
</div>
<div class="sidemenu_function">
<div class="search_menu">
<input type="text" class="search" size="" name="kw" id="i_search_text_input" autocomplete="off" />
<input type="image" src="" value="検索" alt="検索" class="search_button" onclick="mysearch();" /></div>
</div>
</div><!--/sidemenu_box-->