<div id="mwinmv" style="display: none;visibility:hidden;">
<p id="closebmv"><img src="/lineup/common/images/mes_bt_01.gif" alt="閉じる" width="64" height="23" id="viewerclosemv"></p>
<div id="popareamv">
<div id="imgfieldmv" style="display:none;">
<p id="popupmv">&nbsp;</p>
<div id="resutxtmv" style="display:none;"></div>
</div>
</div>


</div>